ZipatoAPI_Node-RED.json
[{"id":"44a657c7.312538","type":"tab","label":"Flow 1"},{"id":"ac6ed6fa.4472a8","type":"subflow","name":"zipatoLogin","info":"A subflow that do user authenticaion to the Zipato REST API","in":[{"x":40,"y":40,"wires":[{"id":"9b3219c3.a3fbd8"}]}],"out":[{"x":600,"y":220,"wires":[{"id":"5a811fde.04e9f","port":0}]}]},{"id":"76e6cb3f.4efcc4","type":"subflow","name":"sendToThingSpeak","info":"","in":[{"x":40,"y":40,"wires":[{"id":"f9aeaace.0a3288"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"88c4f83a.526768","port":0}]}]},{"id":"9b3219c3.a3fbd8","type":"http request","z":"ac6ed6fa.4472a8","name":"getZipatoUserInit","method":"GET","ret":"obj","url":"https://my.zipato.com/zipato-web/v2/user/init","tls":"","x":190,"y":40,"wires":[["4ea7973c.5207e8"]]},{"id":"9eb64f38.0ad2c","type":"inject","z":"44a657c7.312538","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":90,"y":40,"wires":[["85fa496a.551b88"]]},{"id":"4ea7973c.5207e8","type":"function","z":"ac6ed6fa.4472a8","name":"buildZipatoUserLoginURL","func":"var sha1 = global.get('sha1');\nvar username = \"<myZipatoUsername>\";\nvar password = \"<myZipatopassword>\";\nvar nonce = msg.payload.nonce;\nvar jsessionid = msg.payload.jsessionid;\nvar token = sha1(nonce + sha1(password));\nvar url = \"https://my.zipato.com:443/zipato-web/v2/user/login\";\nvar url = url + \"?username=\" + username + \"&token=\" + token + \"&method=SHA1\";\n\nmsg.url = url;\nmsg.headers.cookie = \"JSESSIONID=\" + jsessionid;\n\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":100,"wires":[["69ba5d89.37efe4"]]},{"id":"69ba5d89.37efe4","type":"http request","z":"ac6ed6fa.4472a8","name":"doZipatoUserLogin","method":"GET","ret":"obj","url":"","tls":"","x":350,"y":160,"wires":[["5a811fde.04e9f"]]},{"id":"36622804.758b98","type":"http request","z":"44a657c7.312538","name":"getZipatoValues","method":"GET","ret":"obj","url":"https://my.zipato.com:443/zipato-web/v2/attributes/values?update=false","tls":"","x":220,"y":180,"wires":[["f0ebbb32.9121c8"]]},{"id":"5a811fde.04e9f","type":"function","z":"ac6ed6fa.4472a8","name":"passZipatoSessionId","func":"var jsessionid = msg.payload.jsessionid;\nvar newMsg = {headers:{cookie:\"\"}};\n\nnewMsg.headers.cookie = \"JSESSIONID=\" + jsessionid;\n\nreturn newMsg;","outputs":"1","noerr":0,"x":420,"y":220,"wires":[[]]},{"id":"f9aeaace.0a3288","type":"function","z":"76e6cb3f.4efcc4","name":"buildThingSpeakURL","func":"var url = \"https://api.thingspeak.com/update?api_key=<ThingSpeakChannelReadAPI>&\";\n\nmsg.url = url + msg.fieldsAndValues;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":40,"wires":[["88c4f83a.526768"]]},{"id":"88c4f83a.526768","type":"http request","z":"76e6cb3f.4efcc4","name":"updateThingSpeakChannel","method":"GET","ret":"obj","url":"","tls":"","x":460,"y":40,"wires":[[]]},{"id":"85fa496a.551b88","type":"subflow:ac6ed6fa.4472a8","z":"44a657c7.312538","name":"","x":130,"y":120,"wires":[["36622804.758b98"]]},{"id":"f0ebbb32.9121c8","type":"function","z":"44a657c7.312538","name":"selectValues","func":"var newMsg = {fieldsAndValues:\"\"};\n\nfor (i = 0; i < msg.payload.length; i++) { \n    switch (msg.payload[i].uuid) { \n    case \"<sensor 1 zipato uuid>\": // E.g. Aeon Labs ZW075-C16: CURRENT_CONSUMTION\n        var msg1 = {payload: msg.payload[i].value};\n        msg1.fieldAndValue = \"field1=\" + msg.payload[i].value.value;\n        break;\n    case \"<sensor 2 zipato uuid>\": // E.g. Aeon Labs ZW075-C16: CUMULATIVE_CONSUMPTION\n        var msg2 = {payload: msg.payload[i].value};\n        msg2.fieldAndValue = \"field2=\" + msg.payload[i].value.value;\n        break;\n    case \"<sensor 3 zipato uuid>\": // E.g. Aeon Labs ZW075-C16: AMPERES\n        var msg3 = {payload: msg.payload[i].value};\n        msg3.fieldAndValue = \"field3=\" + msg.payload[i].value.value;\n        break;\n    case \"<sensor 4 zipato uuid>\": // E.g. Aeon Labs ZW075-C16: VOLTAGE\n        var msg4 = {payload: msg.payload[i].value};\n        msg4.fieldAndValue = \"field4=\" + msg.payload[i].value.value;\n        break;\n    case \"<sensor 5 zipato uuid>\": // E.g. Zipato IR Extender: TEMPERATURE\n        var msg5 = {payload: msg.payload[i].value};\n        msg5.fieldAndValue = \"field5=\" + msg.payload[i].value.value;\n        break;\n    case \"<sensor 6 zipato uuid>\": // E.g. Aeon Labs DSB05: TEMPERATURE\n        var msg6 = {payload: msg.payload[i].value};\n        msg6.fieldAndValue = \"field6=\" + msg.payload[i].value.value;\n        break;\n    }\n}\n\nnewMsg.fieldsAndValues = \n  msg1.fieldAndValue + \"&\" + msg2.fieldAndValue + \"&\" + \n  msg3.fieldAndValue + \"&\" + msg4.fieldAndValue + \"&\" +\n  msg5.fieldAndValue + \"&\" + msg6.fieldAndValue;\n\n// Increase the number of outputs of the node to use msg1-msg6\nreturn [newMsg, msg1, msg2, msg3, msg4, msg5, msg6]; ","outputs":"1","noerr":0,"x":274,"y":250,"wires":[["954d4f06.52e3c"]]},{"id":"954d4f06.52e3c","type":"subflow:76e6cb3f.4efcc4","z":"44a657c7.312538","name":"","x":489,"y":250,"wires":[[]]}]